.w-1{
    width: 100%;
}
.w-2{
    width: 50%;
}
.w-3{
    width: 33.33%;
}
.w-4{
    width: 25%;
}
.w-5{
    width: 20%;
}
.w-6{
    width: 16%;
}
.w-75{
    width: 75%;
}


@media(min-width:575px){
    .w-sm-5{
        width: 20%;
    }
    .w-sm-4{
        width: 25%;
    }
    .w-sm-3{
        width: 33.33%;
    }
    .w-sm-2{
        width:50%;
    }
    .w-sm-1{
        width: 100%;
    }
}

@media(min-width:767px){
    .w-md-5{
        width: 20%;
    }
    .w-md-4{
        width: 25%;
    }
    .w-md-3{
        width: 33.33%;
    }
    .w-md-2{
        width:50%;
    }
    .w-md-1{
        width: 100%;
    }
}

@media(min-width:991px){
    .w-lg-5{
        width: 20%;
    }
    .w-lg-4{
        width: 25%;
    }
    .w-lg-3{
        width: 33.33%;
    }
    .w-lg-2{
        width:50%;
    }
    .w-lg-1{
        width: 100%;
    }
}

@media(min-width:1200px){
    .w-xl-5{
        width: 20%;
    }
    .w-xl-4{
        width: 25%;
    }
    .w-xl-3{
        width: 33.33%;
    }
    .w-xl-2{
        width:50%;
    }
    .w-xl-1{
        width: 100%;
    }
}

@media(min-width:1400px){
    .w-xxl-5{
        width: 20%;
    }
    .w-xxl-4{
        width: 25%;
    }
    .w-xxl-3{
        width: 33.33%;
    }
    .w-xxl-2{
        width:50%;
    }
    .w-xxl-1{
        width: 100%;
    }
}